body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator-container {
    width: 255px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 32px;
}

#buttons-container{
    display: flex;
    gap: 5px;
}

#main-buttons {
    display: flex;
    flex-flow: row-reverse wrap;
    align-content: flex-start;
    gap: 5px;
}

button {
    font-size: 32px;
    width: 60px;
    height: 80px;
    border-radius: 8px;
    background-color: white;
    
}

.operator {
    color: rgb(50, 224, 50);
}

#side-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.bigger {
    flex: 1;
    background-color: rgb(50, 224, 50);
    color: white;
}

.clear {
    color: red;
}